*{
    background: blanchedalmond;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.node{
    display: inline-block;
    border-radius: 20%;
    border: black thin solid;
    background: gray;
    min-width: 100px;
    max-width: 150px;
    position: absolute;
    left: var(--Xpos);
    top: var(--Ypos);
    z-index: 2;
    padding-top: 1em;
    padding-bottom: 1em;
}

.node.dragging{
    position: absolute;
    z-index: 1;
}

.nodeName{
    background-color: rgba(0,0,0,0);
    text-align: center;
    overflow-wrap: break-word;
}

.leader-line{
    position: absolute;
    z-index: 0;
    background-color: rgba(0,0,0,0);
}
