*{
    background: blanchedalmond;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.node{
    position: absolute;
    left: var(--Xpos);
    top: var(--Ypos);
    z-index: 2;
    min-width: 100px;
    max-width: 150px;
}

.node.dragging{
    position: absolute;
    z-index: 1;
}

.node{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black thin solid;
    background: floralwhite;
    min-width: 100px;
    max-width: 150px;
    padding-bottom: 1em;
}

.drag-dot{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: chocolate;
    z-index: 5;
}

.nodeName{
    background-color: rgba(0,0,0,0);
    text-align: center;
    word-break: break-word;
}

.leader-line{
    position: absolute;
    z-index: 0;
    background-color: rgba(0,0,0,0);
}
